.App {
  text-align: center;
}

li {
  list-style: none;
  border-style: solid;
  margin: 0.5rem;
  padding: 1rem;
  border-width: 1px;
}

input {
  margin: 1rem;
  text-align: center;
}

h1, h2, p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

form {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}