.App {
  text-align: center;
}

li {
  list-style: none;
  border-style: solid;
  padding: 1rem;
  border-width: 1px;
  width: 350px;
  margin: auto;
  margin-bottom: 0.5rem;
}

input {
  margin: 1rem;
  text-align: center;
}

h1, h2, p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

form {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

.correct {
  background-color: #24ab3f;
  color: #f0f5f1;
}

p.correct {
  width: 200px;
  margin: auto;
  font-size: 1.5rem;
}

p.winner {
  margin: auto;
  font-size: 2rem;
  color: #24ab3f;
  padding: 0.5rem;
}

@media only screen and (min-width: 700px) {
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}